#
# site: 
# status: pre-deployment
# dev: name
#
server {
  listen        80;
  server_name   example.edu;
  rewrite       ^ https://$server_name$request_uri permanent;
}

server {
  server_name  example.edu;

  listen       443 ssl;

  index        index.html;
  root         /ifs/www/vhosts/$server_name/html;

  access_log   /var/log/nginx/example.log proxy;
  error_log    /var/log/nginx/example.log;

  #
  # some basics
  #
  location = /favicon.ico {
    log_not_found off;
    access_log off;
  }
  location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
  }

  #
  # wsgi entry point
  #
  location / {
    include uwsgi_params;
    uwsgi_param UWSGI_APPID entry;
    uwsgi_param UWSGI_FILE  entry.wsgi;
    uwsgi_pass   unix:///var/run/uwsgi/example.edu;
  }
  location /static {
    alias /ifs/www/vhosts/example.edu/html;
  }
  location /cgi-bin {
    uwsgi_modifier1 1;   
    include uwsgi_params;
    uwsgi_pass unix:///var/run/uwsgi/example.edu;
  }

 
  # file shares
  #
  location /public/ {
    autoindex on;     
    location /public/xxx/ {
      auth_basic "Restricted";
      auth_basic_user_file  /ifs/www/vhosts/$server_name/private/.chlpasswd;
      autoindex on;
    }
  } 

  #
  # dne stuff
  #
  location @dne {
    error_page 404 /404.html;
    return 404;
  }
}
