.navy
{
	/* columbia light blue */
	/*
	background-color: #66ccff;
	*/

	/*
	background-color: #6699cc;
	*/

	/* columbia dark blue */
	/*
	background-color: #006699;
	*/

	background-color: #336699;
}

.mycolor
{
	color: red;
}
