{% extends "layout.html" %}

{% block title %}Topological Data Analysis of In Vitro Motor Neuron Differentiation from mESCs{% endblock %}

<!-- CSS for this specific page -->
{% block extracss %}

<link rel="stylesheet" href="/static/jquery.qtip.custom/jquery.qtip.css">
<link rel="stylesheet" href="/static/css/jquery-ui.autocomplete.min.css">

{% endblock %}

<!-- Header -->
{% block header2 %}

<br><br><br><br><br><br>
<p class="lead" style="color: black"><b>Topological Data Analysis of <i>In Vitro</i> Motor Neuron Differentiation from mESCs</b></p>
<br>

{% endblock %}

<!-- Content -->
{% block content %}

<div class="row">
  <div class="col-md-4">
    <p style="color: black">
    The directed differentiation of murine embryonic stem cells into motor neurons enables <i>in vitro</i> modeling of neurodegenerative diseases and rational approaches to regenerative therapies. We differentiated murine embryonic stem cells into motor neurons and, using modifications to the CEL-Seq approach, we generated libraries from 2,704 single cells sampled across days two through six of differentiation<sup>1</sup>. These time points span the transition from totipotency to post-mitotic fate. Single cell RNA-Seq read counts were analyzed using scTDA method, that builds upon developments in topological data analysis. Through this webpage you can explore some of the results of this analysis.
    </p>
  </div>
  <div class="col-md-4">
    <img class="featurette-image img-responsive center-block" src="/static/img/other/mn_600.jpg" alt="image" width="300">
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <p style="color: black">
    These two figures contain topological representations of the data from the pilot experiment (440 cells) and the main experiment (2,304 cells), colored by time point. Each node represents a set of single cells with related transcriptional programs. The same cell may appear in several nodes. Nodes that have one or more cells in common are connected through an edge. Hence, connected nodes are also transcriptionally related. The resulting graph is a topological representation, namely position and distances have no meaning, it only matters how different nodes are connected.
    </p>
  </div>
  <div class="col-md-4">
    <img class="featurette-image img-responsive center-block" src="/static/img/other/day2.png" alt="image" width="500">
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <p style="color: black">
    Using the following form, you can color the above topological representations by expression of any gene (red: high values; blue: low values). Several statistics associated to the gene are also displayed. See [1] for more details on the experimental setting, analysis and statistics.
    </p>
  </div>
  <div class="col-md-4">
    <img class="featurette-image img-responsive center-block" src="/static/img/other/day1.png" alt="image" width="250">
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <small>
    <sup>1</sup> <strong class="ocustom-bitter">Applied Topology Informs Developmental Progression at a Single-Cell Level</strong>
    <br>
    Abbas H. Rizvi<sup>*</sup>, Pablo Camara<sup>*</sup>, Elena K. Kandror, Thomas J. Roberts, Ira Scheiren, Tom Maniatis, and Raul Rabadan.
    <br>
    2015 <i>In preparation</i>.<br>
    </small>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <p style="color: #336699">
        <b>Please enter a gene:</b><br>
    	<small>(E.g., <i>Pou5f1</i> or <i>Etv5</i>)</small><br>
        <input type=text size=15 name="geneInput">
    </p>
    <!-- http://stackoverflow.com/questions/710089/how-do-i-make-an-html-link-look-like-a-button -->
    <a href=# style="font: bold 11px Arial; text-decoration: none; background-color: #EEEEEE; color: red; padding: 2px 6px 2px 6px; border-top: 1px solid #CCCCCC; border-right: 1px solid #333333; border-bottom: 1px solid #333333; border-left: 1px solid #CCCCCC;" id="getInput">submit</a>
    <br>
    <br>
  </div>
  <div class="col-md-6">
    <br>
    <div>
      <label>
        <input type="radio" name="db-button" id="db1" checked>
        <span>Main experiment (2,304 cells)</span>
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="db-button" id="db2">
        <span>Pilot experiment (440 cells)</span>
      </label>
    </div>
  </div>
</div>

<!-- JS inserts into the following tags -->

<div class="notFoundAlert" style="color: red;">Sorry, gene not found</div>

<span class="startHidden">

  <div class="row">
    <div class="col-md-3">
      <div style="margin-left: 50px;"> 
       <span id="idgene"></span><br>
       <span id="idcell"></span><br>
       <span id="idmean"></span><br>
       <span id="idmin"></span><br>
       <span id="idmax"></span><br>
       <span id="idconn"></span><br>
       <span id="idpval"></span><br>
       <span id="idqval"></span><br>
       <span id="idcent"></span><br>
       <span id="iddisp"></span><br>
       <span id="idrna"></span><br>
       <span id="idsplice"></span><br>
       <span id="idsurf"></span><br>
       <span id="idreg"></span><br>
      </div>
    </div>
    <div class="col-md-1" id="insertKey"></div>
    <div class="col-md-4" id="insertImg1"></div>
  </div>
  
  <div class="row">
    <div class="col-md-4" id="insertImg2"></div>
    <div class="col-md-4" id="insertImg3"></div>
  </div>
  
  <div class="row">
    <div class="col-md-8" id="insertImg4"></div>
  </div>

</span> <!-- start hidden -->

{% endblock %}

{% block extrajs %}

<script src="/static/jquery.qtip.custom/jquery.qtip.js"></script>
<script src="/static/js/jquery-ui.autocomplete.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/motor.js"></script>

{% endblock %}
