{% extends "layout.html" %}

{% block title %}Publications{% endblock %}

<!-- Header -->
{% block header2 %}

<br><br><br><br>
<div class="ocustom-bigheader">Publications</div>
<br>

{% endblock %}

<!-- Content -->
{% block content %}

  <button id="hide-show-pubs" style="color: black; cursor: pointer;"><b>SHOW SELECTED PUBLICATIONS</b></button>

  <div style="text-align:center; visibility: hidden;" class="show-on-click ocustom-smallheader">Selected Publications</div>

  {% for yearpubs in mydata %}

    {% for entry in yearpubs %}

      {% if loop.first %}
        <!-- print year -->
	<div style="text-align:center;"><a class="non-highlighted-pub ocustom-smallheader" href="/publications/{{ entry.year }}">{{ entry.year }}</a></div>
      {% endif %}

      <!-- if publication highlighted, use different class -->
      {% if entry.highlight == 1 %}
        <div class="highlighted-pub">
        <!-- <div class="ocustom-grey"> -->
      {% else %}
        <div class="non-highlighted-pub">
      {% endif %}

        <div class="ocustom-pubtitle">
          {% if entry.highlight == 1 %}
	    <span style="color: #336699;" class="glyphicon glyphicon-star" aria-hidden="true"></span>
          {% endif %}
        {{ entry.title|safe }}
        </div>

        <div class="ocustom-pubauth">
        {{ entry.authors|safe }}
        </div>

        <!-- if journal_url not empty, link available; else print journal (no link) -->
        <div class="ocustom-pubjour">
        {% if entry.journal_url != "-" %}
          <a href="{{ entry.journal_url }}">{{ entry.doi }}</a>
        {% else %}
          {{ entry.journal }}
        {% endif %}
        </div>

        <!-- if journal_url 2 not empty, link available; else print journal (no link) -->
        {% if entry.journal_url2 != "-" %}
          <div class="ocustom-pubjour">
          <a href="{{ entry.journal_url2 }}">{{ entry.doi2 }}</a>
          </div>
        {% elif entry.journal2 != "-" %}
          <div class="ocustom-pubjour">
          {{ entry.journal2 }}
          </div>
        {% endif %}

        <!-- print notes if not set to dash -->
        {% if entry.notes != "-" %}
          <span class="ocustom-droidsans"><i>{{ entry.notes|safe }}</i></span>
          <br>
        {% endif %}

      <!-- close publication highlighted tag -->
      </div>

      <!-- different breaks will be treated differently by the js -->
      {% if entry.highlight == 1 %}
        <br>
      {% else %}
      	<br class="non-highlighted-pub">
      {% endif %}

    {% endfor %}

  {% endfor %}

{% endblock %}

<!-- JS for this specific page -->
{% block extrajs %}

<script>
  $(document).ready(function() {
    highlightSelected();
  });
</script>

{% endblock %}
