{% extends "layout.html" %}

{% block title %}Map{% endblock %}

<!-- Header -->
{% block header2 %}

<br><br><br><br>
<div class="ocustom-bigheader">Map</div>
<br>

{% endblock %}

<!-- Content -->
{% block content %}

<div class="row">
<div class="col-md-10">
  <div class="ocustom-membertitle">Directions</div>
  <div class="ocustom-memberbio">Take the A, C, or 1 train to the 168th St Station. Exit the subway station onto St Nicholas Ave and walk due south. The Irving Cancer Research Center will be on your left between 167th and 166th Streets. We are located on the 8th floor.</div>
</div>
</div>

<br>
<br>

<div class="row">
<div class="col-md-10">
  <div class="ocustom-membertitle">Map</div>
  <br>
  <img style="border: 1px solid rgb(200,200,200);" class="img-responsive center-block" src="static/img/map/HICCC.700.png" alt="image">
  <p class="text-center"><small>Image courtesy of Google Maps</small></p>
</div>
</div>

{% endblock %}
