{% extends "layout.html" %}

{% block title %}Home{% endblock %}

<!-- CSS for this specific page -->
{% block extracss %}

<!-- qTip2 -->
<link rel="stylesheet" href="/static/jquery.qtip.custom/jquery.qtip.css">
<!-- Hover -->
<link rel="stylesheet" href="/static/Hover-master/css/hover.css">

{% endblock %}

<!-- Header -->
{% block header %}

<br> <br> <br> <br> <br>

{% endblock %}

<!-- Content -->
{% block content %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<!-- Three columns of text below the carousel -->
<div class="row" style="background: url(static/img/frontpage/backgroundscrawl.1200.1200.jpg) 50% 0 no-repeat fixed;">
<!--
<div class="row" style="background: url(static/img/frontpage/raulscrawl.1100.800.jpg) 50% 0 no-repeat fixed;">
-->

  <div class="row">

    <div class="col-lg-1">
    </div>

    <div class="col-lg-10">
      <div class="ocustom-frontwelcome" style="color: black; background-color: white">
        <p class="text-center">Welcome to the Rabadan Lab at Columbia University!</p>
      </div>
    </div>

    <br>
    <br>

    <div class="col-lg-1">
    </div>

  </div>

  <div class="row">

    <div class="col-lg-2">
    </div>

    <div class="col-lg-8">
      <div class="ocustom-frontblurb">
        <p class="text-center"><small>The amount of high throughput data in biological and clinical systems—from next-generation sequencing experiments to electronic health records—is increasing dramatically, allowing for the development of a quantitative understanding of these complex systems. Our lab is an interdisciplinary team interested in developing mathematical and computational tools to extract useful biological information from large data sets.</small></p>
      </div>
      <br>
      <br>
    </div>

    <div class="col-lg-2">
    </div>

  </div>

  <div class="col-lg-4">
    <a class="hvr-float-shadow" href="/publications">
    <img class="img-circle hasTooltip" src="static/img/frontpage/pubgraphic4.400.400.png" alt="image" width="200" height="200">
    <div class="hidden"> <!-- for qTip ... This class should hide the element, change it if needed -->
      <h5>A complete listing of publications from Dr. Rabadan and the Rabadan Lab</h5>
    </div>
    </a>
    <h2><a class="ocustom-bitter" href="/publications">Publications</a></h2>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <a class="hvr-float-shadow" href="/research">
    <img class="img-circle hasTooltip" src="static/img/frontpage/research.cnv.400.400.png" alt="image" width="200" height="200">
    <div class="hidden">
      <h5>An overview of research in the Rabadan Lab</h5>
    </div>
    </a>
    <h2><a class="ocustom-bitter" href="/research">Research</a></h2>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <a class="hvr-float-shadow" href="/people">
    <img class="img-circle hasTooltip" src="static/img/frontpage/collage.300.300.png" alt="image" width="200" height="200">
    <div class="hidden">
      <h5>Information about present and past members of the Rabadan Lab</h5>
    </div>
    </a>
    <h2><a class="ocustom-bitter" href="/people">People</a></h2>
  </div><!-- /.col-lg-4 -->

</div><!-- /.row -->

{% endblock %}

<!-- JS for this specific page -->
{% block extrajs %}

<script src="/static/jquery.qtip.custom/jquery.qtip.js"></script>
<script src="/static/js/custom.js"></script>

<script>
  $(document).ready(function() {
	  useQtips();
  });
</script>

{% endblock %}
