{% extends "layout.html" %}

{% block title %}People{% endblock %}

<!-- Header -->
{% block header2 %}

<br><br><br><br>
<div class="ocustom-bigheader">People</div>
<br>

{% endblock %}

<!-- Content -->
{% block content %}

  {% for titlegroup in mydata %}

    {% for entry in titlegroup %}

      {% if loop.first %}
        <!-- print title -->
        <div class="ocustom-smallerheader">{{ entry.title }}</div>
      {% endif %}

      <div class="row">
      <div class="col-md-10">
 
        <div class="ocustom-membertitle">{{ entry.name }}</div>
        <img class="memberimage" src="/static/img/people/{{ entry.imagefile }}" alt="image" width="116">
  
	<div class="ocustom-memberbio">{{ entry.bio|safe }}</div>
  
        <!-- print email if not set to dash -->
	<div class="ocustom-memberemail">

          {% if entry.email != "-" %}
	    <!--
            <a style="color:black;" href="mailto:{{ entry.email }}?Subject=Email%20via%20Lab%20Webpage">{{ entry.email }}</a>
	    -->
	    <!-- people didn't want their emails on the web, so remove -->
            {{ entry.email }}
          {% endif %}

	  <!-- if both email and homepage, separate with a dot -->
          {% if entry.email != "-" and entry.webpage != "-" %}
            &middot;
          {% endif %}
  
          <!-- print webpage if not set to dash -->
          {% if entry.webpage != "-" %}
            <a href="{{ entry.webpage }}">homepage</a>
          {% endif %}

	</div>
  
      </div>
      </div>

      <br>

    {% else %}
      <em>Unbelievable.  No entries here so far</em>
    {% endfor %}

  {% endfor %}

   <br>
   <br>

   <!-- print email if not set to dash -->
   {% if mystatus %}

     <div class="ocustom-membertitle">
       <a href="/people">Current Members of the Rabadan Lab</a>
     </div>

   {% else %}

     <div class="ocustom-membertitle">
       <a href="/people/alum">Alumni of the Rabadan Lab</a>
     </div>

   {% endif %}

{% endblock %}
