{% extends "layout.html" %}

{% block title %}People{% endblock %}

<!-- Header -->
{% block header2 %}

<br><br><br><br>
<h2>People</h2>
<br>

{% endblock %}

<!-- Content -->
{% block content %}

  {% for titlegroup in mydata %}

    {% for entry in titlegroup %}

      {% if loop.first %}
        <!-- print title -->
        <h3>{{ entry.title }}</h3>
      {% endif %}

      <h4>{{ entry.name }}</h4>

      {{ entry.bio|safe }}

    {% else %}
      <em>Unbelievable.  No entries here so far</em>
    {% endfor %}

  {% endfor %}

{% endblock %}
