{% extends "layout.html" %}

{% block title %}People{% endblock %}

<!-- Header -->
{% block header2 %}

<br><br><br><br>
<h2>People</h2>
<br>

{% endblock %}

<!-- Content -->
{% block content %}

  {% for titlegroup in mydata %}

    {% for entry in titlegroup %}

      {% if loop.first %}
        <!-- print title -->
        <h3>{{ entry.title }}</h3>
      {% endif %}

      <h4>{{ entry.name }}</h4>

      <img src="/static/img/people/{{ entry.imagefile }}" alt="image" width="116">

      {{ entry.bio|safe }}

      <!-- print email if not set to dash -->
      {% if entry.email != "-" %}
        <br>
	<i>Email: </i><a href="mailto:{{ entry.email }}?Subject=Email%20via%20Lab%20Webpage">{{ entry.email }}</a>
      {% endif %}

      <!-- print webpage if not set to dash -->
      {% if entry.webpage != "-" %}
        <br>
	<i>Web: </i><a href="{{ entry.webpage }}">Homepage</a>
      {% endif %}

    {% else %}
      <em>Unbelievable.  No entries here so far</em>
    {% endfor %}

  {% endfor %}

   <!-- print email if not set to dash -->
   {% if not mystatus %}
     <br>
     <br>

     <b>
     <a href="/people/alum"><i>Alumni of the Rabadan Lab</i></a>
     </b>

   {% endif %}

{% endblock %}
