{% extends "layout.html" %}

{% block title %}Publications{% endblock %}

<!-- Header -->
{% block header2 %}

<br><br><br><br>
<div class="ocustom-bigheader">Publications</div>
<br>

{% endblock %}

<!-- Content -->
{% block content %}

  {% for yearpubs in mydata %}

    {% for entry in yearpubs %}

      {% if loop.first %}
        <!-- print year -->
        <div class="ocustom-smallheader">{{ entry.year }}</div>
      {% endif %}

      <div class="ocustom-pubtitle">
      {{ entry.title|safe }}
      </div>

      <div class="ocustom-pubauth">
      {{ entry.authors|safe }}
      </div>

      <!-- if journal_url not empty, link available; else print journal (no link) -->
      <div class="ocustom-pubjour">
      {% if entry.journal_url != "-" %}
        <a href="{{ entry.journal_url }}">{{ entry.doi }}</a>
      {% else %}
        {{ entry.journal }}
      {% endif %}
      </div>

      <!-- if journal_url not empty, link available; else print journal (no link) -->
      {% if entry.journal_url2 != "-" %}
        <div class="ocustom-pubjour">
        <a href="{{ entry.journal_url2 }}">{{ entry.doi2 }}</a>
        </div>
      {% elif entry.journal2 != "-" %}
        <div class="ocustom-pubjour">
        {{ entry.journal2 }}
        </div>
      {% endif %}

      <!-- print notes if not set to dash -->
      {% if entry.notes != "-" %}
        <span class="ocustom-droidsans"><i>{{ entry.notes|safe }}</i></span>
        <br>
      {% endif %}

      <br>

    {% else %}
      <em>Unbelievable.  No entries here so far</em>
    {% endfor %}

  {% endfor %}

{% endblock %}
