{% extends "layout.html" %}

{% block title %}Publications{% endblock %}

<!-- Header -->
{% block header2 %}

<br><br><br><br>
<h2>Publications</h2>
<br>

{% endblock %}

<!-- Content -->
{% block content %}

  {% for yearpubs in mydata %}

    {% for entry in yearpubs %}

      {% if loop.first %}
        <!-- print year -->
        <h3>{{ entry.year }}</h3>
      {% endif %}

      <strong>{{ entry.title|safe }}</strong>
      <br>
      {{ entry.authors|safe }}
      <br>
     
      <!-- if journal_url not empty, link available; else print journal (no link) -->
      {% if entry.journal_url != "-" %}
        <a href="{{ entry.journal_url }}">{{ entry.doi }}</a>
      {% else %}
        {{ entry.journal }}
      {% endif %}

      <br>

      <!-- print notes if not set to dash -->
      {% if entry.notes != "-" %}
        <i>{{ entry.notes|safe }}</i>
        <br>
      {% endif %}

      <br>

    {% else %}
      <em>Unbelievable.  No entries here so far</em>
    {% endfor %}

  {% endfor %}

{% endblock %}
