{% extends "layout.html" %}

{% block title %}Software{% endblock %}

<!-- Header -->
{% block header2 %}

<br><br><br><br>
<div class="ocustom-bigheader">Software</div>
<br>

{% endblock %}

<!-- Content -->
{% block content %}

<p class="lead">
  <a href="https://github.com/RabadanLab/Pandora"><b>Pandora</b></a> is a tool for the identification and discovery of tumor-associated microbes via RNAseq.
</p>

<p class="lead">
  <a href="https://github.com/RabadanLab/Pegasus"><b>Pegasus</b></a> is a tool for the annotation and prediction of oncogenic gene fusions in RNAseq.

<p class="lead">
  <a href="http://sourceforge.net/p/melamedgamtoc"><b>GAMToC</b></a> uses copy number and mutation data from a cohort of patients, for example from TCGA, to find modules of genes with a related mutation pattern.
</p>

<p class="lead">
  <a href="http://rabadan.c2b2.columbia.edu/cgi-bin/hgGateway"><b>Genome Browser</b></a> is the Rabadan Lab's locally hosted implementation of the UCSC Genome Browser.
Currently, it features the mm9 exotome and various annotated non-human primate assemblies.
</p>

<p class="lead">
  <a href="https://github.com/RabadanLab/SAVI"><b>SAVI</b></a> is a program for calling variants in high-throughput sequencing data, particularly paired tumor-normal samples.
</p>

<div class="ocustom-footer-small">
<br>
<u>Note</u>: These projects may be in active development and varying stages of usability.
</div>

{% endblock %}
